html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
    color: black;
  }
body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 89px;
    align-items: center;
    margin: auto 39px;    
}
.logo{
    font-weight: 800;
    font-size: 12px;
    color: white;
    margin-left: 2px;
}
.logo span{
    color: #F06C64;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    width: 372px;
}
nav li{
    color: white;
    font-size: 12px;
    cursor: pointer;
}
nav li:hover{
    color:#F06C64;
}
nav li:not(:first-child):before{
    content: "·";
    padding: 12px;
}
.slider{
    position: relative;
    background-color: #F06C64;
    height: 594px;
    border-bottom: #EA676B solid 6px;
}
.vertPhone{
    position: absolute;
    top: 52px;
    left: 112px;
}
.horPhone{
    position: absolute;
    top: 174px;
    left: 425px;
}
.horImg{
    position: absolute;
    top: 188px;
    left: 485px;
}
.vertImg{
    position: absolute;
    top: 117px;
    left: 126px;
}
.sliderButton{
    font-size: 33px;
    color: #CA4549;
    position: absolute;
    top: 46%;
    cursor: pointer;
}
.b1{
    left: 40px;
}
.b2{
    right: 37px;
}
.sliderButton:hover{
    color: white;
}
.ourServises{
    height: 496px;
    background-color: #F2F2F2;
    color: #666D89;
    border-bottom: #FFFFFF solid 6px;
}
.container{
    margin: 0 41px;
}
.about{
    padding-top: 62px;
}
.about h2{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.01em;
}
.about p{
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0.3px;
    word-spacing: 0.39px;
    margin-top: 21px;
}

.flexColumns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
    height: 247px;
    width: 969px;
}
.flexColumns > div{
    width: 33%;
    height: 50%;
}
.flexColumns img{
    float: left;
}
.flexColumns p{
    margin-top: 10px;
    margin-left: 80px;
    padding-right: 17px;
    font-size: 11px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 22px;
}
.flexColumns h3{
    margin-left: 80px;
    margin-top: -4px;
    font-weight: 900;
    font-size: 19px;
    letter-spacing: -0.7px;
    word-spacing: 0.6px;
}