html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
    color: black;
  }
body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.portfolio{
	background-color: #2D303A;
	color: #666D89;
	padding: 64px 40px;
	border-bottom: 6px solid #323746;
}
.portfolio h2{
	font-size: 30px;
	letter-spacing: -0.1px;
	font-weight: 900;
}
.portfolio p{
	margin-top: 27px;
	font-size: 17px;
	letter-spacing: 0.19px;
}
.portfolio ul{
	display: flex;
	margin-top: 16px;
}
.portfolio li{
	margin-right: 9px;
	cursor: pointer;
	border: #666D89 solid 1px;
	padding: 4px 6.5px;
	border-radius: 5px;
	font-size: 12px;
}
.portfolio li:hover{
	color: white;
	border-color: white;
}
.gallery{
	margin-top: 19.5px;
	margin-bottom: 3px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 19px;
	grid-auto-rows: 0;
	overflow: hidden;
}
.gallery img {
	width: 221px;
	height: 188px;
}
.about{
	background-color: #F2F2F2;
	color: #666D89;
	padding: 64px 40px;
	border-bottom: white solid 6px;
}
.aboutUs h2{
	font-size: 30px;
	letter-spacing: -0.1px;
	font-weight: 900;
}
.aboutUs p{
	margin-top: 20px;
	font-size: 17px;
	letter-spacing: 0.19px;
	word-spacing: 1.3px;
	line-height: 30px;
}
.team{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	margin-top: 44px;
	grid-gap: 20px;
}
.photo{
	width: 300px;
	height: 300px;
}
.team h3{
	max-width: 300px;
	margin-top: 14px;
  letter-spacing: -0.5px;
	word-spacing: 0.5px;	
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 5px;
}
.team p{
	font-size: 11px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.35px;
	word-spacing: -0.6px;
	margin-top: 5px;
}
.social{
	margin-top: 22px;
}
.social img{
	margin-right: 5px;
	border-radius: 100%;

}
.social img:hover{
	cursor: pointer;
	background-color: white;
}