html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
    color: black;
  }
body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.getQuote{
    background-color: #f06c64;
	color: #F0D8D9;
	padding: 64px 40px;
	border-bottom: 6px solid #EA676B;
}
.getQuote h2{
    font-size: 30px;
    font-weight: 700;
    word-spacing: -3px;
}
.getQuote p{
    margin-top: 21px;
    font-size: 17px;
    word-spacing: -0.5px;
    letter-spacing: 0.2px;
    line-height: 30px;
    text-align: justify;
}
.contact{
    display: flex;
    margin-top: 43px;
}
.contact form input, textarea{
    width: 618px;
    border-radius: 4px;
    background-color: #d6564f;
    outline: none;
    border: none;   
}
.contact form input::placeholder, textarea::placeholder{
    color: #EC7E7E;
    padding-left: 15px;
    font-size: 11px;
    letter-spacing: 0.4px;
}
.contact form textarea::placeholder{
    padding-top: 9px;
    font-family: 'Lato', sans-serif;
    padding-left: 13px;
}
.contact form input{
    height: 35px;
    margin-bottom: 17px;
}
.contact form textarea{
    width: 615px;
    height: 197px;
}
.contact form button{
    color: #F0D8D9;
    border-radius: 3px;
    background: #d6564f;
    box-shadow: 0 -3px #F08586 inset;
    transition: 0.2s;
    padding: 6px 38px;
    position: absolute;
    bottom: 0px;
    margin-left: -112px;
    outline: none;
    border: none;  
} 
.contact form button:hover{
    cursor: pointer;
    background:#EA676B;
}
.contact div{
    margin-left: -75px;
    height: 300px;
}
.contact h3{
    font-size: 19px;
    font-weight: 500;
}
.contact p{
    font-size: 11px;
    letter-spacing: 0.5px;
    word-spacing: -2px;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 28px;
}
.contact span{
    display: block;
    font-size: 11px;
    letter-spacing: 0.3px;
    word-spacing: -1px;
    margin-top: 10px;
}
.contact a{
    color: #F0D8D9;
}
.contact i{
    margin-right: 13px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #2D303A;
    color: #626984;
    font-size: 12px;
    padding: 32px 41px;
}
footer div{
    margin-top: -10px;
}
footer img{
    margin-left: 4px;
	border-radius: 100%;
}
footer img:hover{
    cursor: pointer;
	background-color: #F08586;
}
