body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
header{
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 89px;
    align-items: center;
    margin: auto 39px;    
}
.logo{
    font-weight: 800;
    font-size: 12px;
    color: white;
    margin-left: 2px;
}
.logo span{
    color: #F06C64;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    width: 372px;
}
nav li{
    color: white;
    font-size: 12px;
    cursor: pointer;
}
nav li:hover{
    color:#F06C64;
}
nav li:not(:first-child):before{
    content: "·";
    padding: 12px;
}
.slider{
    position: relative;
    background-color: #F06C64;
    height: 594px;
    border-bottom: #EA676B solid 6px;
}
.vertPhone{
    position: absolute;
    top: 52px;
    left: 112px;
}
.horPhone{
    position: absolute;
    top: 174px;
    left: 425px;
}
.horImg{
    position: absolute;
    top: 188px;
    left: 485px;
}
.vertImg{
    position: absolute;
    top: 117px;
    left: 126px;
}
.sliderButton{
    font-size: 33px;
    color: #CA4549;
    position: absolute;
    top: 46%;
    cursor: pointer;
}
.b1{
    left: 40px;
}
.b2{
    right: 37px;
}
.sliderButton:hover{
    color: white;
}
